{% extends "base.html" %}{% block title %} ADMIN {% endblock %}

<!-- home content -->
{% block content %}

<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <img class="me-3" src="{{url_for('static',filename='image/adminadd.png')}}" alt=""  style="height: 50px; width: 50px;">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">CLUB MEMBERSHIP</h1>
      <small>Since 2011</small>
    </div>
  </div>




<!-- member added content -->
  <div class="my-3 p-3 bg-body rounded shadow-sm">


<!-- add button -->

<div>
  <span  data-bs-toggle="popover" title="Videos Content" data-bs-trigger="hover" data-bs-content="Videos Content" data-bs-placement="right">
    <button  class="bg-transparent border-0 position-relative text-decoration-none nav-link " type="button"  data-bs-toggle="modal" data-bs-target="#add">
<img  id="votefucos" src="{{url_for('static', filename='image/add.png')}}" class="rounded-circle  text-decoration-none" alt="" style="height: 50px; width: 50px;">
<span class="position-absolute top-100 start-50 translate-middle translate-middle badge rounded-pill text-success text-center mt-1 ">
ADD

</span>
</div>
{% for note in user.notes %}
<!-- end buttong  -->
    <h6 class="border-bottom pb-2 mb-0">Suggestions</h6>
    <div class="d-flex text-muted pt-3">
      <img  id="votefucos" src="{{url_for('static', filename='image/logoadmin.png')}}" class=" rounded-pill m-3 text-decoration-none" alt="" style="height: 70px; width: 70px;">
<!-- membership -->

      <div class="pb-3 mb-0 small  border-bottom m-2 col-12 col-sm-auto">

        <div class="d-flex justify-content-between m-2">
          <strong class="text-dark">date : {{ note.date }}</strong>

          
         
        </div>



        <div class="d-flex justify-content-between m-2">
          <strong class="text-dark">Full Name : {{ note.names }}</strong>

          
         
        </div>

        <div class="d-flex justify-content-between m-2">
          <strong class="text-dark">Email : {{ note.emails }}</strong>

          
         
        </div>

        <div class="d-flex justify-content-between m-2">
          <strong class="text-dark">Number : {{ note.numbers }}</strong>

          
         
        </div>

        <div class="d-flex justify-content-between m-2">
          <strong class="text-dark">Status : {{ note.statuses }}</strong>

          
         
        </div>
        
    


      </div>
      <div class="col-12 col-sm-auto">
        <button type="button" class="btn btn-close btn-danger float-end" onClick="deleteNote({{ note.id }})">
        </button>
      </div>

    </div>
{% endfor %}


  </div>




</main>

  


  <!-- Modal -->
<div class="modal fade" id="add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-dark addmembermodal">
        <h5 class="modal-title" id="staticBackdropLabel">Add member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

       <form method="POST">
        <textarea name="note" id="note" class="form-control"></textarea>
        <br />
     
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Full Name</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="name">
        </div>
    
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="emails">
        </div>
    
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Number</span>
          <input type="tel" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="number">
        </div>
    
        <div class="input-group input-group-sm mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Status</label>
          <select class="form-select" id="inputGroupSelect01" name="status">
            <option selected>Choose...</option>
            <option value="Premium">Premium</option>
            <option value="Begineer">Begineer</option>
            <option value="Senior Premium">Senior Premium</option>
          </select>
        </div>
        <div align="center">
          <button type="submit" class="btn btn-primary">Add Note</button>
        </div>
      </form>
      </div>

    </div>
  </div>
</div>

<script
type="text/javascript"
src="{{ url_for('static', filename='index.js') }}"
></script>
{% endblock %}